<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
        
        <form class="cajaLogin" action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>
                Editar un producto:
            </h3>
            <p>
                <br>
                <label>Nombre del producto</label>
                <input class="ingreso" type="text" name="name" placeholder="Nombre del producto" value="<%= product.name %> ">
                
                <label>Descripci贸n</label>
                <textarea id="description" class="ingreso" placeholder="Descripci贸n"><%= product.description %></textarea>
                
                <label>Variedad</label>
                <% for (let i = 0; i < 5; i++) {%> 
                    <input class="ingreso" type="text" name="variedad" placeholder="Variedad del producto" value="<%= product.variety[i] %>">
                <% } %> 
                
                <label>Presentaci贸n</label>
                <input class="ingreso" type="text" name="presentacion"  placeholder="Presentaci贸n" value="<%= product.presentation %>">  
                
                <label>Performance</label>
                <input class="ingreso" type="text" name="performance"  placeholder="Performance" value="<%= product.performance %>">

                <label>Precio</label>
                <input class="ingreso" type="text" name="precio" placeholder="Precio" value="$<%= product.price %>">

                <div class="imagenEdit">
                    <label>Imagen</label>
                    <img class="imagenEdit" name="image" src="/images/products/<%= product.image %>" alt="">
                </div>

                <p>
                   
                <button type="submit" class="ingreso" id="botonIngreso">Enviar</button>
                   
                    <!--<button type="reset" class="ingreso" id="botonReseteo">Borrar</button>-->
                </p>
            </p>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>