<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
        
        <form class="cajaLogin" action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>
                Editar un producto:
            </h3>
            <p>
                
                <input class="ingreso" type="text" name="name" placeholder="Nombre del producto" value="<%= product.name %> ">
                
                <textarea id="description" class="ingreso" placeholder="Descripción"><%= product.description %></textarea>
                
                <% for (let i = 0; i < 5; i++) {%> 
                    <input class="ingreso" type="text" name="variedad" placeholder="Variedad del producto" value="<%= product.variety[i] %>">
                <% } %> 
                
                <input class="ingreso" type="text" name="presentacion"  placeholder="Presentación" value="<%= product.presentation %>">  
                
                <input class="ingreso" type="text" name="performance"  placeholder="Performance" value="<%= product.performance %>">

                <input class="ingreso" type="text" name="precio" placeholder="Precio" value="$<%= product.price %>">

                <p>
                    <img name="images" src="/images/products/<%= product.image %>" alt="">
                    
                </p>

                <p>
                   
                <button type="submit" class="ingreso" id="botonIngreso">Enviar</button>
                   
                    <!--<button type="reset" class="ingreso" id="botonReseteo">Borrar</button>-->
                </p>
            </p>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>