<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
        <div class="banner">   
            <p >
                NUESTRAS <br>
                PASTAS
            </p>
        </div>

        <section class="cuerpoPromos">
            <% for (let i = 0; i < products.length; i++) {%> 
            
                <div class="caja">
                    <img class="fotosPedido" src="/images/products/<%= products[i].image %>" alt="<%= products[i].name %>">
                    <h4 class="titulos"><%= products[i].name %></h4>
                    <p>
                        <label for="">Descripción:</label><br>
                        <label for=""><%= products[i].description %></label><br>
                        <label for="">Rellenos disponibles:</label>
                        <% for (let x = 0; x < products[i].variety.length; x++)  {%> 
                            <ul>
                                <li><%= products[i].variety[x] %></li>
                            </ul>
                        <% } %> 
                        <label for="">Presentación:</label><br>
                        <label for=""><%= products[i].presentation %></label><br>
                        <label for=""><%= products[i].performance %></label><br><br>
                        <label for="">Precio:$<%= products[i].price %>,00</label><br><br>
                        <button class="botonAgregarPedido2">Agregar Pedido!</button>
                    </p>
                </div>
            <% } %> 
        </section>

        
      
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>