<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/header');%> 
    <main>
        <div class="banner">   
            <p>
                NUESTRAS<br>
                PROMOCIONES
            </p>
        </div>
        <h1 class="tituloPromo">MARTES Y JUEVES!</h1>
        <section class="cuerpoPromos">

            <!-- BORRAR CUANDO ESTE ANDANDO CON FUNCINALIDAD Y DESCOMENTAR EL DE ABAJO QUE YA TIENE LA FUNCIONALIDAD DEL JSON -->
            <!-- <div class="caja">
                <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
                <h4 class="titulos">Caseritos</h4>
                <p>
                    <label class="promo20" for="">20 % OFF<br>EN LA SEGUNDA UNIDAD!</label><br>
                    <label class="precioPromo" for="">Precio:$595,00</label><br>
                    <button class="botonAgregarPedido">Agregar Pedido!</button>
                </p>
            </div>
     -->
            <!-- <div class="caja">
                <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
                <h4 class="titulos">Ravioles</h4>
                <p>
                    <label class="promo20" for="">20 % OFF<br>EN LA SEGUNDA UNIDAD!</label><br>
                    <label class="precioPromo" for="">Precio:$445,00</label><br>
                    <button class="botonAgregarPedido">Agregar Pedido!</button>
                </p>
            </div> -->

            <!-- ESTE ES CON FUNCIONALIDAD DESCOMENTAR -->

            <% for (let i = 0; i < sales.length; i++) {%> 
               <div class="caja">
                    <img class="fotosPedido" src="/images/products/<%= sales[i].image %>" alt="<%= sales[i].name %>">
                    <h4 class="titulos"><%= sales[i].name %></h4>
                    <p>
                        <label class="promo20" for=""><%= sales[i].discount %></label><br>
                        <label class="precioPromo" for="">Precio:$<%= sales[i].price %>,00</label><br>
                         <!-- <button class="botonAgregarPedido">Agregar Pedido!</button> -->
                    </p>
                    <% if (locals.user && user.category == 'admin') {%> 
                        <a class="editSale" href="/sales/edit/<%= sales[i].id %>">Editar Promoción</a>

                        <form action="/sales/delete/<%= sales[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="editUserAll" id="butonEditUserDelete">Eliminar Promoción</button>
                            
                        </form>
                        
                        
                    <%} else {%>  
                            <p class="bot1">
                             <p class="botoComp">
                                 <button class="botonAgregarPedido2">Agregar Pedido!</button>
                             </p>
                            </p>    
                    <% } %> 
                </p>
                </div>
               
            <% } %>  

        </section>
    </main>
    <br>
    <%- include('./partials/footer') %> 
</body>
</html>