<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main> 
        <div class="cajaLogin">
            <form  action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data" id="formEditUser">
                <input type="hidden" name="id_user_edit" value="<%= locals.userToEdit && userToEdit.id %>">
                <h3>
                    Editar un Usuario:
                </h3>
                <p>
                    <div class="imgUserContainer">
                        <img class="imgUser" src="/images/users/<%= userToEdit.image %>" alt="imagen de usuario" id="userImageEdit">
                    </div>
                    <div>
                        <p>
                            <br>
                            <h4>Cambiar imagen</h4>
                            <input class="ingresoCreate fileCreate" type="file" name="image" id="inputUserImageEdit" accept="image/x-png,image/gif,image/jpeg"></input>
                            <label class="feedBack"><%= locals.errors && errors.image ? errors.image.msg : '' %> </label><br> 
                        </p>
                    </div>
                    <label class="titleRegister">Nombre y Apellido</label>
                    <input class="ingreso" type="text" name="full_name" placeholder="Nombre y Apellido" id="full_nameEdit" value="<%= locals.userToEdit && userToEdit.full_name %>">
                    <label class="feedBack"><%= locals.errors && errors.full_name ? errors.full_name.msg : '' %> </label><br>
                    <label class="titleRegister">E-mail</label>
                    <input class="ingreso" type="email" name="email"  placeholder="E-mail" id="emailEdit" value="<%= locals.userToEdit && userToEdit.email %>">
                    <label class="feedBack"><%= locals.errors && errors.email ? errors.email.msg : ''%> </label><br>
                    <label class="titleRegister">Confirmar E-mail</label>
                    <input class="ingreso" type="email" name="confirmEmail"  placeholder="Confirmar E-mail" id="confirmEmailEdit" value="<%= locals.userToEdit && userToEdit.email %>">
                    <label class="feedBack"><%= locals.errors && errors.confirmEmail ? errors.confirmEmail.msg : ''%> </label><br>
                    <label class="titleRegister">Contraseña</label>
                    <input class="ingreso" type="password" name="password"  placeholder="Contraseña" id="passwordEdit">
                    <label class="feedBack"><%= locals.errors && errors.password ? errors.password.msg : ''%> </label><br>
                    <label class="titleRegister">Confirmar Contraseña</label>
                    <input class="ingreso" type="password" name="confirmPassword"  placeholder="Confirmar Contraseña" id="confirmPasswordEdit">
                    <label class="feedBack"><%= locals.errors && errors.confirmPassword ? errors.confirmPassword.msg : ''%> </label><br>
                    <label class="titleRegister">Calle</label>
                    <input class="ingreso" type="text" name="street"  placeholder="Calle" id="streetEdit" value="<%= locals.userToEdit && userToEdit.street %>">
                    <label class="feedBack"><%= locals.errors && errors.street ? errors.street.msg : '' %> </label><br>
                    <label class="titleRegister">Numero</label>
                    <input class="ingreso" type="number" name="number"  placeholder="Número" id="numberEdit" value="<%= locals.userToEdit && userToEdit.number %>">
                    <label class="feedBack"><%= locals.errors && errors.number ? errors.number.msg : '' %> </label><br>
                    <label class="titleRegister">Piso</label>
                    <input class="ingreso" type="number" name="floor"  placeholder="Piso" value="<%= locals.userToEdit && userToEdit.floor %>">
                    <label class="feedBack"><%= locals.errors && errors.floor ? errors.floor.msg : ''%> </label><br>
                    <label class="titleRegister">Departamento</label>
                    <input class="ingreso" type="text" name="department"  placeholder="Departamento" value="<%= locals.userToEdit && userToEdit.department %>">
                    <label class="feedBack"><%= locals.errors && errors.department ? errors.department.msg : ''%> </label><br>
                    <label class="titleRegister">Localidad</label>
                    <input class="ingreso" type="text" name="city"  placeholder="Localidad" value="<%= locals.userToEdit && userToEdit.city %>">
                    <label class="feedBack"><%= locals.errors && errors.city ? errors.city.msg : ''%> </label><br>
                    <label class="titleRegister">Categoría de Usuario</label>
                    <div class="category_container">
                        <% if (locals.user && user.category == 'admin') { %> 
                            <div>
                                <input class="edit_category" type="radio" name="category" id="admin" value="admin" checked <%= userToEdit.category == 'admin' ? 'checked' : ' ' %>>
                                <label class="edit_category" for="admin">Administrador</label>

                            </div>
                            <div>
                                <input class="edit_category" type="radio" name="category" id="user" value="user" <%= userToEdit.category == 'user' ?  'checked' : ' ' %>>
                                <label class="edit_category" for="user">Cliente</label>

                            </div>
                        <% } %>
                    </div>
                    <br>
                    <p class="botonsRegister">
                        <button type="submit" class="ingreso" id="botonIngreso">Editar Usuario</button> 
                    </p>
                </p>
            </form>
            <form class='deleteUser' action="/users/delete/<%= userToEdit.id %>?_method=DELETE" method="POST">
                <button type="submit" class="editUserAll" id="butonEditUserDelete">Eliminar Usuario</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>