<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>
        <div>
            <form class="cajaLogin" action="/users/login" method="POST">
            <h3>Inicio de Sesión</h3>
            <div class="loginContainer">

                <div>
                    <label class="titleRegister">Email:</label><br>
                    <input class="ingreso" type="email" name="email"  placeholder="E-mail" value="<%= locals.email && email %>">
                    <p><%= locals.errors && errors.email ? errors.email.msg : '' %></p>
                    <label class="titleRegister">Contraseña</label><br>
                    <input class="ingreso" type="password" name="password"  placeholder="Contraseña" value="">
                    <p><%= locals.errors && errors.password ? errors.password.msg : '' %></p>
                </div>
                <br>
                <div>
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Recordame</label>
                </div>
                <div>
                    <button type="submit" class="ingreso" id="botonIngreso">Ingresar</button> <br>
                </div>
                <div>
                    <a class="registerUser" href="/users/register">¿No tienes una cuenta? ¡registrate aquí!</a>
                </div>
            </div>
            </form>
        </div>
     </main>    
     <%- include('../partials/footer') %> 
</body>
</html>