<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>
        <form class="cajaLogin" action="/users" method="POST" enctype="multipart/form-data">
            <h3>
                Registro de Usuario:
            </h3>
            <p>
                <div class="imgUserContainer">
                    <img class="imgUser" src="/images/users/default.jpg" alt="imagen de usuario">
                </div>
                <div>
                    <p>
                        <br>
                        <h4>Agregar una imagen</h4>
                        <input class="ingresoCreate fileCreate" type="file" name="image"></input>
                    </p>
                </div>
                <label class="titleRegister">Nombre y Apellido</label>
                <input class="ingreso" type="text" name="full_name" placeholder="Nombre y Apellido" value="<%= locals.register && register.full_name %>">
                <% if (locals.errors && errors.full_name) {%> 
                    <label class="feedBack"><%= errors.full_name.msg %> </label><br>
                <% } %> 
                <label class="titleRegister">E-mail</label>
                <input class="ingreso" type="email" name="email"  placeholder="E-mail" value="<%= locals.register && register.email %>">
                <% if (locals.errors && errors.email) {%> 
                    <label class="feedBack"><%= errors.email.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Confirmar E-mail</label>
                <input class="ingreso" type="email" name="confirmEmail"  placeholder="Confirmar E-mail" value="<%= locals.register && register.confirEmail %>">
                <% if (locals.errors && errors.confirmEmail) {%> 
                    <label class="feedBack"><%= errors.confirmEmail.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Contraseña</label>
                <input class="ingreso" type="password" name="password"  placeholder="Contraseña" value="<%= locals.register && register.password %>">
                <% if (locals.errors && errors.password) {%> 
                    <label class="feedBack"><%= errors.password.msg %> </label><br>
                <% } %> 
                
                <label class="titleRegister">Confirmar Contraseña</label>
                <input class="ingreso" type="password" name="confirmPassword"  placeholder="Confirmar Contraseña" value="<%= locals.register && register.password %>">
                <% if (locals.errors && errors.confirmPassword) {%> 
                    <label class="feedBack"><%= errors.confirmPassword.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Calle</label>
                <input class="ingreso" type="text" name="street"  placeholder="Calle" value="<%= locals.register && register.street %>">
                <% if (locals.errors && errors.street) {%> 
                    <label class="feedBack"><%= errors.street.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Numero</label>
                <input class="ingreso" type="number" name="number"  placeholder="Número" value="<%= locals.register && register.number %>">
                <% if (locals.errors && errors.number) {%> 
                    <label class="feedBack"><%= errors.number.msg %> </label><br>
                <% } %> 
                
                <label class="titleRegister">Piso</label>
                <input class="ingreso" type="number" name="floor"  placeholder="Piso" value="<%= locals.register && register.floor %>">
                <% if (locals.errors && errors.floor) {%> 
                    <label class="feedBack"><%= errors.floor.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Departamento</label>
                <input class="ingreso" type="text" name="department"  placeholder="Departamento" value="<%= locals.register && register.department %>">
                <% if (locals.errors && errors.department) {%> 
                    <label class="feedBack"><%= errors.department.msg %> </label><br>
                <% } %> 

                <label class="titleRegister">Localidad</label>
                <input class="ingreso" type="text" name="city"  placeholder="Localidad" value="<%= locals.register && register.city %>">
                <% if (locals.errors && errors.city) {%> 
                    <label class="feedBack"><%= errors.city.msg %> </label><br>
                <% } %> 
                <br>
                <br>

                <!-- <div class="captcha">
                    <img width="180px" src="/images/captcha.png" alt="imagen de captcha">
                </div> -->
              
                <p class="botonsRegister">
                    <button type="submit" class="ingreso" id="botonIngreso">Crear Usuario</button> 
                    <button type="reset" class="ingreso" id="botonReseteo">Borrar Campos</button>
                </p>

                <div>
                    <a class="registerUser" href="/users/login">Si ya tienes una cuenta, ingresa aquí!</a>
                </div>
            </p>
        </form>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>