<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>
        
        <section class="usersContainer">
            <% users.forEach(user => { %>
                <article class="showUsers">
                    <p class="imageContainerUsers">
                        <img class="userImage" src="../images/users/<%= user.image %>" alt="">
                    </p>
                    <label class="usersName"><%= user.full_name %></label>
                    <form action="/users/edit" method="POST">
                        <input type="hidden" name="id_user_edit" value="<%= user.id %>">
                        <p class="botonsShowAll">
                            <button type="submit" class="editUserAll" id="butonEditUser">Editar</button> 
                        
                        </p>
                    </form>
                    <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="editUserAll" id="butonEditUserDelete">Eliminar usuario</button>
                        
                    </form>
                </article>
                
            <% }); %> 
                
        </section>

        </main>
        <%- include('../partials/footer') %> 
    </body>
    </html>