<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main class="mainCreate">
        
        <form class="cajaCreate" action="/sales/<%= sales.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>
                Editar una Promoción:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <label>Nombre</label>
                        <input class="ingresoCreate" type="text" name="name" id="producto" placeholder="Nombre de la Promoción" value="<%= sales.name %>">
                    </p>
    

                    <p>
                        <label>Descuento</label>
                        <textarea class="ingresoCreate" name="discount" placeholder="Descuento" value="<%= sales.discount %>"></textarea>
                    </p>
                </div>
               
                <div class="imagenEdit2">
                    <label>Imagen</label>
                    <img class="ingresoCreate fileCreate" type="file" name="image" src="/images/products/<%= sales.image %>" alt="">
                </div>
                <p>
                    <br>
                    <label>Agregar una imagen</label>
                    <input class="ingresoCreate fileCreate" type="file" name="image" id="inputProductImageEdit"></input>
                </p>
                <p>
                    <label>Precio</label>
                    <input class="ingresoCreate" type="number" name="price" id="precio" placeholder="Precio" value="<%= sales.price %>">
                </p>

                <p>
                    <button type="submit" class="ingreso" id="botonIngreso">Enviar</button>
                    <!-- <button type="submit" class="ingreso" id="botonIngreso">Editar</button>
                    <button type="submit" class="ingresoCreate" id="botonIngreso">Editar</button> 
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar</button> -->
                    <button type="submit" class="ingreso" id="botonCancelar">Cancelar</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>