<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main class="mainCreate">
        <form class="cajaCreate" id="createProduct" action="/products" method="POST" enctype="multipart/form-data">
            <h3>
                Agregar un producto:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <br>
                        <label>Nombre del producto</label>
                        <input class="ingresoCreate" type="text" name="name" id="name" placeholder="Nombre del producto"
                        value="<%= locals.product ? product.name : '' %>"
                            class="<%= locals.errors && errors.name ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.name ? errors.name.msg : '' %> </span>
                    </p>
    
                    <p>
                        <label>Descripci贸n</label>
                        <textarea class="ingresoCreate" id="description" name="description" placeholder="Descripci贸n"
                        value="<%= locals.product ? product.description : '' %>"
                            class="<%= locals.errors && errors.description ? 'danger' : '' %>"></textarea>
                        <span class="error"><%= locals.errors && errors.description ? errors.description.msg : '' %> </span>
                    </p>
                    
                    <p>
                        <label>Presentaci贸n</label>
                        <input class="ingresoCreate" type="text" id="presentation" name="presentation"  placeholder="Presentaci贸n del producto" value="<%= locals.product ? product.presentation : '' %>"
                        class="<%= locals.errors && errors.presentation ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.presentation ? errors.presentation.msg : '' %> </span>
                    </p>
                    <p>
                        <label>Rendimiento</label>
                        <input class="ingresoCreate" type="text" id="performance" name="performance"  placeholder="Rendimiento del producto" value="<%= locals.product ? product.performance : '' %>"
                        class="<%= locals.errors && errors.performance ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.performance ? errors.performance.msg : '' %> </span>
                    </p>

                </div>
                <div class="variedades">
                    <label>Variedades:</label>
                    <input class="ingresoCreate" type="text" name="variety" id="variety" placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                </div>
                <div class="imagenEdit">
                    <label>Imagen</label>
                    <img class="imagenEdit" name="imageView" src="../../images/products/default.png" alt="" id="productImageAdd">
                </div>
                <p>
                    <br>
                    <label>Agregar una imagen</label>
                    <input class="ingresoCreate fileCreate" type="file" name="image" id="inputProductAddImage" accept="image/x-png,image/gif,image/jpeg"></input>

                </p>
                <p>
                    <label>Precio</label>
                    <input class="ingresoCreate" type="number" name="price" id="price" placeholder="Precio"
                    value="<%= locals.product ? product.price: '' %>"
                            class="<%= locals.errors && errors.price? 'danger' : '' %>">
                    <span class="error"><%= locals.errors && errors.price ? errors.price.msg : '' %> </span> 
                </p>

                <p>
                    <button type="submit" class="ingresoCreate" id="botonIngreso">Crear Producto</button> 
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar Campos</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>