<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main_bc">
        
        <% if(detailShoppingBag && detailShoppingBag.length > 0 ) {%> 
            <h3 class="h3_bolsa_de_compras">Bolsa de compras:</h3>
            <div class="contenido_bolsa">
                <div class="titulos_detalle_bc">
                    <label class="titulo_producto" for="">Producto:</label>
                    <label class="titulo_descripcion" for="">Descipción:</label>
                    <label class="titulo_variedad" for="">Variedad:</label>
                    <label class="titulo_precio" for="">P. Unit.:</label>
                    <label class="titulo_subtotal" for="">Subtotal:</label>
                    <label class="titulo_cantidad" for="">Cantidad:</label>
                </div>
                <% let i = 0; %> 
                <% detailShoppingBag.forEach(itemDetail => { %>
                    
                    <section class="detalle_bolsa">
                        <article>
                            <input type="hidden" class="inputId" value="<%= itemDetail.products[0].id %>" id="inputId<%= i %>">
                            <img class="foto_producto_bolsa" src="../../images/products/<%= itemDetail.products[0].image %>" alt="Foto">
                        </article>
                        <article class="descripción_compra">
                            <div><%= itemDetail.products[0].name %></div>
                            <div><%= itemDetail.products[0].description %></div>
                        </article>
                        <article>
                            <% if (itemDetail.products[0].varieties) {  %>
                                <select class="select_variedad" name="" id="selectVariety<%= i %>">
                                    <% itemDetail.products[0].varieties.forEach(varietiesProduct => { %>
                                        <option value="<%= varietiesProduct.id %>"><%= varietiesProduct.name %></option>
                                    
                                    <% }) %>

                                </select>
                            <% } %> 
                        </article>
                        <article >
                            <div>
                                <input class="p_unit" id="p_unit<%= i %>" value="$<%= itemDetail.products[0].price %>" readonly>
                            </div>
                            
                        </article>
                        <article class="sub_total_article">
                           
                                <input class="sub_total" type="text" name="subTotal<%= i %>" id="subTotal<%= i %>" value=$<%= itemDetail.products[0].price %> readonly >
                            
                        </article>
                        <article class="botones_bolsa">
                            <nav class="botones_mas_menos">
                                <input class="restar_producto_bolsa" name="buttonLess<%= i %>" id="buttonLess<%= i %>" type="button" value="-">
                                <input class="cantidad_producto_bolsa" name="quantityBag<%= i %>" id="quantityBag<%= i %>" type="number" value="1" >
                                <input class="sumar_producto_bolsa" name="buttonAdd<%= i %>" id="buttonAdd<%= i %>" type="button" value="+">
                            </nav>
                            <form action="/products/productCart?_method=DELETE" method="POST">
                                <input type="hidden" name="id_delete" value="<%= itemDetail.id %>">
                                <input class="eliminar_producto_bolsa" type="submit" name="buttonDelete<%= i %>" id="delete<%= i %>" value="Eliminar Producto">
                            </form>
                        </article>
                    </section>
                    <% i++; %> 
                    
                <% }); %> 
                
            </div>
            <div class="contenido_bolsa ">
                <form class="container_fin_compra" action="/products/endPurchase" method="POST" id="frm_end_purchase">
                    <div class="seccion_finaliza_compra">
                        <input type="hidden" name="shopping_bag_id" value="<%= detailShoppingBag[0].shopping_bag_id %> ">
                        <h3 class="h3_fin_bolsa_de_compras titulo_total_compra bolsaa">Total compra:</h3>
                        
                        <input class="monto_total_compra bolsaa" type="text" name="total" id="Total" value="$0" readonly >
                        <input class="finaliza_compra" type="submit" name="finaliza_compra" id="finaliza_compra" value="Finalizar Compra">
                    </div>
                </form>
            </div>
        <% } else { %>
            <form action="/products" method="GET">
                <div class="contenido_bolsa centrado">
                <h3 class="h3_bolsa_de_compras">Bolsa de compras vacía</h3>
              
                <input class="ir_productos_bolsa" type="submit" id="" value="Ir a Productos">
                </div>

            </form>

        <% } %> 
        <div class="botones_compra">
        </div>

        <div class="resumen_compra">
        </div>

        <div class="medios_pagos">
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>