<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>
        <div class="banner">   
            <p >
                NUESTRAS <br>
                PASTAS
            </p>
        </div>


        <form class="d-flex flex-row-reverse" action="../products">
            <input 
            type="text" 
            name="search"
            placeholder="Realiza tu búsqueda..." 
            value="<%= search ? search : "" %>"
            >
            <button  class="buttonp" type="submit"><i class="fa fa-search" ></i></button>
        </form> 
        
              
        <section class="cuerpoPromos">
            <% for (let i = 0; i < products.length; i++) {%> 
            
                <div class="caja">
                    <p class="imageContainerUsers">
                    <img class="pedidoImage" src="/images/products/<%= products[i].image %>" alt="<%= products[i].name %>">
                    </p>
                    <h4 class="titulos"><%= products[i].name %></h4>
                    <input class="idProduct" type="hidden" name="idProduct" value="<%= products[i].id %>">
                    <p>
                        <b><label for="">Descripción:</label></b><br>
                        <label for=""><%= products[i].description %></label><br>
                        <b><label class="titulo_rellenos" for="">Rellenos disponibles:</b></label><br>
                        <% if (products[i].variety) { %> 
                            <% for (let x = 0; x < products[i].variety.length; x++)  {%>                    
                                <ul>
                                    <li><%= products[i].variety[x].name %>   
                                    
                                </ul>
                            <% } %> 
                            
                        <% } %> 
                        <b><label for="">Presentación:</label></b><br>
                        <label for=""><%= products[i].presentation %></label><br>
                        <label for=""><%= products[i].performance %></label><br><br>
                        <b><label for="">Precio:$<%= products[i].price %>,00</label></b><br><br>
                        <% if (locals.user && user.category == 'admin') {%> 
                            <div class="containerButtons">
                                <form action="/products/edit" method="POST">
                                    <button class="editProduct" type="submit" name='id_product' value="<%= products[i].id %>">Editar Producto</button>
                                </form>
    
                                <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="editUserAll" id="butonEditUserDelete">Eliminar Producto</button>
                                    
                                </form>

                            </div>
                            
                        <%} else {%>
                                <form action="/products/productCart" method="POST">
                                    <p class="bot1">
                                        <p class="botonCompra">
                                            <input type="hidden" name="id_product_add" value="<%= products[i].id %>">
                                            <button class="botonAgregarPedido2" id="<%= products[i].id %>">Agregar al Pedido!</button>
                                        </p>
                                    </p>    
                                </form>  
                        <% } %> 
                    </p>
                </div>
            <% } %> 
        </section>


        
        
        
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>